.content_box{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    gap: 2%;
    row-gap: 25px;
    width: 99vw;
    height: fit-content;
    padding: 0px 10vw;
}
.item{
    width: 32%;
    height: fit-content();
    border-bottom: #dcdde0 2px solid;
}
.item img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}
.item h1, .item p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}