.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 300px;
}
#items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 85%;
    width: 250px;
}
.item_div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item_div img{
    width: 65%;
    border-radius: 10px;
}
.item:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    p{
        color: rgb(0,0,238);
    }
}
p{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
}